<h1><%= @game.name %> Reviews</h1>
  <%= link_to "New Review", reviews_new_path(:game_id => @game.id), { :class => "button waves-effect waves-light btn" } %>


  <table class="table striped bordered">
    <tr> 
      <th>Content</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>

    <% @reviews.each do |review| %>
      <tr>
        <td><%= link_to game.name %></td> #user Id
        <td><%= review.content %></td>
       
        

    <td><a class="btn-floating btn-large red" href="<%= review_edit_path(review) %>" >
      <i class="large material-icons">Edit</i>
    </a>
    </td>


    <!--  <td><a class="btn-floating btn-large red" data-confirm="Are you sure you want to delete <%= review.content %>?" data-method="delete" href="/reviews/<%= game.id %>" rel="nofollow"><i class="large material-icons">Delete Review</i>
    </a>
    </td>


    -->
    <td> 
    <%= button_to "Delete", "reviews/#{game.id}", method: :delete,
    data: { confirm: "Are you sure?" } %>
    </td>
    </tr>

        
    <% end %>
  </table>

