<h1><%= @game.name %> Reviews</h1>
<button type="button" class="btn btn-secondary btn-sm"><%= link_to "New Review", reviews_new_path(:game_id => @game.id), { :class => "button waves-effect waves-light btn" } %></button>
  


  <table class="table striped bordered">
    <tr> 
     <th>User Name</th>
      <th>Content</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>


    <% @reviews.each do |review| %>
      <tr>
        <td><%= link_to @game.user.username %></td> 
        <td><%= review.content %></td>
       
        <% if current_user %>
        <% if current_user.id==review.user.id %>
        <td><a class="btn-floating btn-large red" href="<%= review_edit_path(review) %>" >
        <i class="large material-icons">Edit</i>
      </a>
      </td>
      
      <td> 
    <%= button_to "Delete", "reviews/#{review.id}", method: :delete,
    data: { confirm: "Are you sure?" } %>
      </a>
      </td>
        <% end %>
      <% end %>
    </tr>

    

        
    <% end %>
  </table>

